<!-- BEGIN_INCLUDE(ldap:lookup) -->
    <ldap:lookup dn="#[header:dn]">
        <ldap:attributes ref="#[header:attributes]" />
    </ldap:lookup>
<!-- END_INCLUDE(ldap:lookup) -->

<!-- BEGIN_INCLUDE(ldap:search) -->
    <ldap:search baseDn="#[header:baseDn]"
                 filter="#[header:filter]"
                 scope="#[header:scope]"
                 timeout="#[header:timeout]"
                 maxResults="#[header:maxResults]"
                 returnObject="#[returnObject]">
        <ldap:attributes ref="#[header:attributes]" />
    </ldap:search>
<!-- END_INCLUDE(ldap:search) -->

<!-- BEGIN_INCLUDE(ldap:search-one) -->
    <ldap:search-one baseDn="#[header:baseDn]"
                 filter="#[header:filter]"
                 scope="#[header:scope]"
                 timeout="#[header:timeout]"
                 maxResults="#[header:maxResults]"
                 returnObject="#[returnObject]">
        <ldap:attributes ref="#[header:attributes]" />
    </ldap:search-one>
<!-- END_INCLUDE(ldap:search-one) -->

<!-- BEGIN_INCLUDE(ldap:ldap-entry-to-map) -->
    <ldap:ldap-entry-to-map/>
<!-- END_INCLUDE(ldap:ldap-entry-to-map) -->

<!-- BEGIN_INCLUDE(ldap:ldap-entry-to-ldif) -->
    <ldap:ldap-entry-to-ldif/>
<!-- END_INCLUDE(ldap:ldap-entry-to-ldif) -->